* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

/* Search */

input:focus {
  outline: none;
}

.input {
  padding: 10px;
  width: 700px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-width: 0px;
  box-shadow: 0 4 1px #777777;
}

::placeholder {
  color: #AAAAAA;
}

#search-results {
  margin-top: 0px;
  padding: 0px;
  width: 702px;
  border-top: 4px solid #3c78d8;
  position: absolute;
  margin-left: -1px;
  z-index: 100;
}

.search-result-list-item {
  padding: 8px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #DDDDDD;
  color: #999999;
  transition: all 80ms;
  background-color: #FFFFFF;
}

.search-result-list-item:first-child {
  margin-top: 4px;
}

.search-result-list-item:hover {
  color: #FFFFFF;
  background-color: #3c78d8;
  cursor: pointer;
}

/* Stock price */

#result-container {
  display: block;
}

h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 14px;
  margin-left: -1px;
}

h2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: -1px;
}

h3 {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: -14px;
  margin-left: -1px;
  color: #3c78d8;
  width: 700px;
  text-align: left;
}

/* Cards */

.cards-container {
  display: flex;
  width: 700px;
  justify-content: flex-start;
  margin-left: -6px;
}

.small-card {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  margin-top: -4px;
  border-radius: 4px;
}

#from-api {
  background-color: #3c78d8;
  display: none;
}

#from-cache, #added-to-cache {
  background-color: olive;
  display: none;
}

#delete-cache {
  background-color: red;
  cursor: pointer;
  display: none;
}

/* Chart */

#chart-container {
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding-top: 16px;
  padding-left: 5px;
  width: 700px;
  margin-top: 16px;
  display: none;
  /*border: 1px solid rgba(60, 120, 216, 0.2);*/
  transform: scale(1.023);
}

/* Error */

#errors {
  display: block;
}

.error-container {
  margin-top: 20px;
  padding: 8px;
  display: flex;
  border-radius: 4px;
  border: 1px solid darkred;
  background-color: rgba(255, 120, 0, 0.3);
}

.error-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.error-msg {
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: darkred;
  margin-left: 10px;
  margin-top: -1px;
}